<% include partials/header %>

<div class="item">
    <div class="content">
        <a class="name"><%= slot.name %></a>
        <div class="slot">

            <h2>Your Slot: <%= slot.startTime%> - <%= slot.endTime%></h2>
            <span></span>
            <h3>Description: <%= slot.description %></h3>
            <!--<form id="delete-form" action="/slots/<%= slot._id %>?_method=DELETE" method="POST">-->
                <!--<button class="btn btn-xs btn-danger">Delete</button>-->
            <!--</form>-->
        </div>

        <!--<div class="end_time">-->
        <!--<h1>slot.endTime</h1>-->
        <!--</div>-->
    </div>
</div>












<% include partials/footer %>