<% include partials/header %>

<div class="item">
    <div class="content">
        <a class="name"><%= slot.name %></a>
        <div class="slot">

            <h3>Your Slot: <%= slot.startTime%> - <%= slot.endTime%></h3>
            <span></span>
            <h3>Description: <%= slot.description %></h3>

        </div>
        <form id="delete-form" action="/slots/<%= slot._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
        </form>

    </div>
</div>












<% include partials/footer %>