<% include ./partials/header.ejs %>
<h1>Your Time Slots Page</h1>

<h2>Create Availability</h2>
<li><a href="/slots/new">Create New Time Slot</a></li>

<h2>Current Availability</h2>

<div class="ui divided items">
    <% personal.forEach(function(slot){ %>
    <div class="item">
        <div class="content">

            <div class="slot">
                <a href="/slots/<%= slot._id %>">
                    <h2>Your Slot: <%= slot.startTime%> - <%= slot.endTime%></h2>
                </a>
            </div>

            <!--<div class="end_time">-->
                <!--<h1>slot.endTime</h1>-->
            <!--</div>-->
        </div>
    </div>
    <% }); %>
</div>

<h2>Potential Matches</h2>

<div class="ui divided items">
    <% other.forEach(function(slot){ %>
    <div class="item">
        <div class="content">

            <div class="slot">
                <a href="/slots/<%= slot._id %>">
                    <h2>Your Slot: <%= slot.startTime%> - <%= slot.endTime%></h2>
                </a>
            </div>

            <!--<div class="end_time">-->
            <!--<h1>slot.endTime</h1>-->
            <!--</div>-->
        </div>
    </div>
    <% }); %>
</div>

<h1>Matches</h1>

<div class="ui divided items">
    <% matches.forEach(function(slot){ %>
    <div class="item">
        <div class="content">

            <div class="slot">
                <a href="/slots/<%= slot._id %>">
                    <h2>Your Slot: <%= slot.startTime%> - <%= slot.endTime%></h2>
                </a>
            </div>

            <!--<div class="end_time">-->
            <!--<h1>slot.endTime</h1>-->
            <!--</div>-->
        </div>
    </div>
    <% }); %>
</div>



<% include ./partials/footer.ejs %>



